---
---
{{reference}}
{% if entry.doi %}
DOI: <a href="http://dx.doi.org/{{entry.doi}}">{{entry.doi}}</a>.
{% endif %}
{% if entry.arxiv %}
<a href="http://arxiv.org/abs/{{ entry.arxiv }}">arXiv:{{ entry.arxiv }}</a> [<a href="http://arxiv.org/pdf/{{ entry.arxiv }}">pdf</a>], 
{% endif %}
{% if entry.github %}
:octocat: Github repository: <a href="https://github.com/{{entry.github}}">{{entry.github}}</a>.
{% endif %}
{% if entry.cran %}
R package (CRAN): <a href="{{entry.cran}}">{{entry.cran}}</a>.
{% endif %}
{% if link %}
<a href="{{link}}">Download PDF</a>.
{% endif %}
