---
layout: default
---

<!-- styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li { display: inline; padding: 10px; margin: 5px; }
  ul.pager li.previous { font-weight: bold; font-size: smaller; }
  ul.pager li.next { font-weight: bold; font-size: smaller; }
  ul.pager li.nothingleft { font-weight: bold; font-size: smaller; text-decoration: line-through; color: #828282; }
</style>

<div class="home">
  <!--
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  -->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in paginator.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          <a href="{{ site.baseurl }}{{ post.url }}">READ MORE</a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
      {% else %}
        <li class="nothingleft">Newer posts</li>
      {% endif %}
      <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
      {% else %}
        <li class="nothingleft">Older posts</li>
      {% endif %}
    </ul>
    {% endif %}

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>
